#Stage{
    display:inline-block;
    margin: 0 auto;
    position:relative;
    border:1px solid black;
/*    border-radius: 10px;  this makes round corders of banner*/
    box-shadow: 0 5px 50px #333
}
#cube3js{
    position:relative;
    z-index:20;
}